extends layout

block content
  h1= title
  p Добро пожаловать в наш круглосуточный пабъ!
  p Мы предлагаем Вам возможность не только заказать столики, но и купить наши блюда на вынос!

  if error
    p Ошибка загрузки данных.
  else
    p Мы можем предложить Вам:

    ul
      li #[strong Блюд:] !{data.dishes_count} (в продаже есть !{data.available_dishes_count})
      li #[strong Cтоликов:] !{data.tables_count} (!{data.available_tables_count} из них свободны)
