extends layout

block content
  h1 Заказ № #{order._id}
  p На имя #{order.name}

  div(style='margin-left:20px;margin-top:20px')

  h4 Столики

  dl
    each table in order.tables
      dt
        a(href=table.url) Столик №#{table.number}
      dd
        if table.name
          p Название: #{table.name}

  h4 Время начала заказа: #{order.normal_time}
  hr
  h4 Продолжительность: #{order.duration_in_hours}
  
  hr
  p
    a(href=order.url+'/delete') Удалить заказ
  p
    a(href=order.url+'/update') Изменить заказ
