extends layout

block content
  h1 Заказ № #{purchase._id}

  div(style='margin-left:20px;margin-top:20px')

  h4 Столики

  dl
    each dish in purchase.dishes
      dt
        a(href=dish.url) #{dish.name}
      dd
        Название: #{dish.price}

  h4 Время заказа: #{purchase.purchase_time}
  
  p
    a(href=purchase.url+'/delete') Удалить заказ
  p
    a(href=purchase.url+'/update') Изменить заказ
