extends layout

block content
  h1 Удаление заказа № #{purchase._id}
  p На имя #{purchase.name}

  div(style='margin-left:20px;margin-top:20px')

  h4 Блюда

  dl
    each dish in purchase.dishes
      dt
        a(href=dish.url) #{dish.name}
      dd
        p Цена: #{dish.price}

  h4 Время заказа: #{purchase.normal_time}

  form(method='POST' action='')
    div.form-group
      input#purchaseid.form-control(type='hidden',name='purchaseid', required='true', value=purchase._id )

    button.btn.btn-primary(type='submit') Удалить
