extends layout

block content
  h1 #{title}
  p Столики для любой компании!
  ul(class='table-list')
    each table in tables
      li
        a(href=table.url class='list-element') Столик №#{table.number} "#{table.name}"
        |  (#{table.price_per_hour} рублей в час, #{table.capaсity})

    else
      span.text-danger Увы, столиков у нас пока нет:(
