extends layout

block content
  h1 #{title}
  p Столики для любой компании!
  ul(class='table-list')
    each _table in tables
      li
        a(href=_table.url class='list-element') #{_table.name}
        |  (#{_table.price_per_hour} рублей в час)
        |  (Вместимость: #{_table.capability} человек)

    else
      span.text-danger Увы, столиков у нас пока нет:(
